.canvas {
  position: relative;
  overflow: hidden; /* Add this line */
}

.background{
  background-image: url('assets/images/tausta.png');
  background-repeat: no-repeat;
  height: 130vh;
  width: 109vh;
  background-size: cover;
  top: 10%;
  
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1.64cm);
  grid-template-rows: repeat(11, 1.64cm);
  position: absolute;
  margin-top: 426px; /* Adjust the value as needed */
  left: 19%;



  
}


.grid-item {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 3px solid #000;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: relative; /* Position added here */
}
.invisible-input {
  position: fixed; /* Fixed position to keep it out of the document flow */
  top: 0; /* Place it at the top of the page */
  left: 0; /* Place it at the start of the page */
  opacity: 0;
  height: 1px; /* Minimal height to prevent any layout impact */
  width: 1px; /* Minimal width to prevent any layout impact */
  z-index: -1; /* Place it behind other content */
  pointer-events: none; /* Prevent it from capturing clicks */
}

.selected-item {
  background-color: #6aa7cc;
}

.selected-vector {
  background-color: lightblue;
}




.special-1{
  background-image: url('assets/images/1-kysymys.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  border-bottom: white;
  
  pointer-events: none;
  background-color: white;

}

.special-2{
  background-image: url('assets/images/2-kysymys.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  border-top: white;
  
  pointer-events: none;
  background-color: white;

}

.special-3{
  background-image: url('assets/images/3-kysymys.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  
  
  pointer-events: none;
  background-color: white;

}

.special-4{
  background-image: url('assets/images/4-kysymys.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  border-right: white;
  
  pointer-events: none;
  background-color: white;

}

.special-5{
  background-image: url('assets/images/5-kysymys.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  border-left: white;
  
  pointer-events: none;
  background-color: white;

}
.special-6{
  background-image: url('assets/images/6-kysymys.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  
  
  pointer-events: none;
  background-color: white;

}

.special-7{
  background-image: url('assets/images/7-kysymys.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  
  
  pointer-events: none;
  background-color: white;

}

.special-8{
  background-image: url('assets/images/8-kysymys.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  
  border-right: white;
  pointer-events: none;
  background-color: white;

}

.special-9{
  background-image: url('assets/images/9-kysymys.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center center;
  border-left: white;
  border-right: white;
  border-bottom: white;
  pointer-events: none;
  background-color: white;

}

.special-10{
  background-image: url('assets/images/10-kysymys.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  border-left: white;
  
  pointer-events: none;
  background-color: white;

}

.special-11{
  background-image: url('assets/images/11-kysymys.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  border-top: white;
  
  pointer-events: none;
  background-color: white;

}

.special-12{
  background-image: url('assets/images/12-kysymys.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  border-top: white;
  
  pointer-events: none;
  background-color: white;

}

.special-13{
  background-image: url('assets/images/13-kysymys.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  
  
  pointer-events: none;
  background-color: white;

}

.static-number {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 0.7em;
  color: #333;
  pointer-events: none;
  font-weight: 800;
}

